@model FF.Data.Models.Classes.ClassModel
<!-- modal-md DeleteClassForm-->
<div class="modal fade" id="DeleteClassForm">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form method="post" asp-controller="Class" asp-action="Delete" asp-route-Class_id="@Model.Id" asp-route-Class_name="@Model.Name">

                <!-- Modal Header-->
                <div class="modal-header">
                    <h5 class="modal-title">İşlem Onayı</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p>Bu öğretmeni silmek istediğinize emin misiniz?</p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-save="modal" onclick="saveModal(this)">Sil</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>

                </div>
            </form>
        </div>
    </div>
</div>
