@{
    ViewData["Title"] = "Dashboard";
}

@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script>
        var apexLineChartOptions = {
            chart: {
                height: 350,
                type: 'line',
                shadow: {
                    enabled: true,
                    color: COLOR_GRAY_500,
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 1
                },
                toolbar: {
                    show: false
                }
            },
            title: {
                text: 'Aktivitelere göre öğrenci sayıları',
                align: 'center'
            },
            colors: [COLOR_RED, COLOR_TEAL, COLOR_GRAY_500, COLOR_BLUE],
            dataLabels: {
                enabled: true,
            },
            stroke: {
                curve: 'smooth',
                width: 3
            },
            series: [{
                name: 'Uyku',
                data: [28, 29, 33, 36, 32, 32, 33]
            }, {
                name: 'Yemek',
                data: [19, 21, 21, 18, 23, 24, 27]
            }, {
                name: 'Yemek',
                data: [15, 15, 19, 19, 15, 19, 18]
            }, {
                name: 'Tenis',
                data: [16, 16, 14, 20, 12, 17, 15]
            }],
            grid: {
                borderColor: COLOR_GRAY_200,
                row: {
                    colors: [COLOR_GRAY_200, 'transparent'],
                    opacity: 0.5
                },
            },
            markers: {
                size: 4
            },
            xaxis: {
                categories: ['Pzt', 'Salı', 'Çarş', 'Perş', 'Cuma', 'Cmt', 'Paz'],
                axisBorder: {
                    show: true,
                    color: COLOR_GRAY_300,
                    height: 1,
                    width: '100%',
                    offsetX: 0,
                    offsetY: -1
                },
                axisTicks: {
                    show: true,
                    borderType: 'solid',
                    color: COLOR_GRAY_300,
                    height: 6,
                    offsetX: 0,
                    offsetY: 0
                }
            },
            yaxis: {
                min: 5,
                max: 40
            },
            legend: {
                show: true,
                position: 'top',
                offsetY: -10,
                horizontalAlign: 'right',
                floating: true
            }
        };
        var apexLineChart = new ApexCharts(
            document.querySelector('#apexLineChart'),
            apexLineChartOptions
        );
        apexLineChart.render();

        var ctx4 = document.getElementById('polarAreaChart');
        var polarAreaChart = new Chart(ctx4, {
            type: 'polarArea',
            data: {
                datasets: [{
                    data: [11, 16, 7, 3, 14],
                    backgroundColor: [hexToRgba(COLOR_BLUE, .85), hexToRgba(COLOR_INDIGO, .85), hexToRgba(COLOR_AQUA, .85), hexToRgba(COLOR_GRAY_500, .85), hexToRgba(COLOR_GRAY_800, .85)],
                    borderWidth: 1.5
                }],
                labels: ['Uyku', 'Tenis', 'Yemek', 'Servis', 'Satranç']
            }
        });

        var ctx5 = document.getElementById('pieChart');
        var pieChart = new Chart(ctx5, {
            type: 'pie',
            data: {
                labels: ['Total Visitor', 'New Visitor', 'Returning Visitor'],
                datasets: [{
                    data: [300, 50, 100],
                    backgroundColor: [COLOR_BLUE, COLOR_INDIGO, COLOR_GRAY_900],
                    hoverBackgroundColor: [COLOR_BLUE, COLOR_INDIGO, COLOR_GRAY_900],
                    borderWidth: 0
                }]
            }
        });
    </script>
}

<h1 class="page-header mb-3">
    selam. <small> here's what's happening with your store today.</small>
</h1>
<!-- BEGIN row -->
<div class="row">
    <!-- BEGIN col-6 -->
    <div class="col-xl-6">
        <!-- BEGIN card -->
        <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h5 class="mb-1">Sayı İstatistikleri</h5>
                        <div class="fs-13px">Kategoriye göre istatistikler.</div>
                    </div>
                    <a href="#" data-toggle="dropdown" class="text-muted"><i class="fa fa-redo"></i></a>
                </div>



                <div class="fs-13px">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-address-book fs-9px fa-fw text-primary mr-2"></i> Eğitmen Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">10</div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-home fs-9px fa-fw text-primary mr-2"></i> Sınıf Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">6</div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-child fs-9px fa-fw text-primary mr-2"></i> Öğrenci sayısı
                        </div>
                        <div class="font-weight-600 text-dark">170</div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-play fs-9px fa-fw text-primary mr-2"></i> Aktivite Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">5</div>
                    </div>
                    <div class="d-flex align-items-center mb-15px">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-bus fs-9px fa-fw text-primary mr-2"></i> Servis Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">4</div>
                    </div>
                </div>
            </div>
            <!-- END card-body -->
        </div>
        <!-- END card -->
    </div>
    <!-- END col-6 -->
    <!-- BEGIN col-6 -->


    <div class="col-xl-6">
        <!-- BEGIN #pills -->
        <div id="pills" class="mb-5">      
           <div class="card">
               <div class="card-body">
                   <h6>Kaç aktivite yapıldı</h6>
                   <ul class="nav nav-pills mb-3" id="pills-tab">
                       <li class="nav-item">
                           <a class="nav-link active" id="pills-day-tab" data-toggle="pill" href="#pills-day">Günlük</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="pills-week-tab" data-toggle="pill" href="#pills-week">Haftalık</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" id="pills-month-tab" data-toggle="pill" href="#pills-month">Aylık</a>
                       </li>
                   </ul>
                   <div class="tab-content" id="pills-tabContent">
                       <div class="tab-pane fade show active" id="pills-day">
                           <canvas id="polarAreaChart"></canvas>
                       </div>
                       <div class="tab-pane fade" id="pills-week">
                           <canvas id="polarAreaChart"></canvas>
                       </div>
                       <div class="tab-pane fade" id="pills-month">
                           <canvas id="polarAreaChart"></canvas>
                       </div>
                   </div>
               </div>
                
            </div>
        </div>
        <!-- END #pills -->
    </div>

    <!-- END col-6 -->
</div>
<!-- END row -->
<!-- BEGIN row -->
<div class="row">
    <!-- BEGIN col-6 -->
    <div class="col-xl-12">

        <!-- BEGIN #apexChartLineChart -->
        <div id="apexChartLineChart" class="mb-5">
            <div class="card">
                <div class="card-body">
                    <h6>AKTİVİTE GRAFİĞİ</h6>
                    <div class="fs-13px">Aktifitelere göre haftalık sayılar.</div>

                    <div id="apexLineChart"></div>
                </div>

            </div>
        </div>
        <!-- END #chartJsLineChart -->
    </div>
    <!-- END col-6 -->
</div>
<!-- END row -->
<!-- BEGIN row -->
<div class="row">
    <!-- BEGIN col-6 -->
    <div class="col-xl-6">
        <!-- BEGIN #chartJsPieChart -->
        <div id="chartJsPieChart" class="mb-5">
            <div class="card">
                <div class="card-body">
                    <h6>PIE CHART</h6>
                    <canvas id="pieChart"></canvas>
                </div>

            </div>
        </div>
        <!-- END #chartJsPieChart -->

    </div>
    <!-- END col-6 -->
    <!-- BEGIN col-6 -->
    <div class="col-xl-6">


    </div>
    <!-- END col-6 -->
</div>
<!-- END row -->


<div class="container">
    <!-- BEGIN row -->
    <div class="row justify-content-center">
        <!-- BEGIN col-10 -->
        <div class="col-xl-10">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-9 -->
                <div class="col-xl-9">



                </div>
                <!-- END col-9-->

            </div>
            <!-- END row -->
        </div>
        <!-- END col-10 -->
    </div>
    <!-- END row -->
</div>


<!-- script -->
