@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="page-header mb-3">
    asdasa. <small> here's what's happening with your store today.</small>
</h1>
<!-- BEGIN row -->
<div class="row">

    <!-- BEGIN col-6 -->
    <div class="col-xl-6">
        <!-- BEGIN card -->
        <div class="card mb-3">
            <!-- BEGIN card-body -->
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h5 class="mb-1">Sayı İstatistikleri</h5>
                        <div class="fs-13px">Kategoriye göre istatistikler.</div>
                    </div>
                </div>



                <div class="fs-15px">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-address-book fs-20px fa-fw text-primary mr-2"></i> Eğitmen Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">10</div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-home fs-20px fa-fw text-primary mr-2"></i> Sınıf Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">6</div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-child fs-20px fa-fw text-primary mr-2"></i> Öğrenci sayısı
                        </div>
                        <div class="font-weight-600 text-dark">170</div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-play fs-20px fa-fw text-primary mr-2"></i> Aktivite Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">5</div>
                    </div>
                    <div class="d-flex align-items-center mb-15px">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <i class="fa fa-bus fs-20px fa-fw text-primary mr-2"></i> Servis Sayısı
                        </div>
                        <div class="font-weight-600 text-dark">4</div>
                    </div>
                </div>
            </div>
            <!-- END card-body -->
        </div>
        <!-- END card -->
    </div>
    <!-- END col-6 -->
    <!-- BEGIN col-6 -->


    <div class="col-xl-6">
        <!-- BEGIN #chartJsPieChart -->
        <div id="chartJsPieChart" class="mb-5">
            <div class="card">
                <div class="card-body">
                    <h6>AKTİVİTE AĞIRLIK GRAFİĞİ</h6>
                    <div class="fs-13px">Öğrencilerin haftalık toplam aktiviteleri.</div>
                    <canvas id="pieChart"></canvas>
                </div>

            </div>
        </div>
        <!-- END #chartJsPieChart -->

    </div>

    <!-- END col-6 -->
      
</div>
<!-- END row -->
<!-- BEGIN row -->
<div class="row">
    <!-- BEGIN col-6 -->
    <div class="col-xl-12">

        <!-- BEGIN #apexChartLineChart -->
        <div id="apexChartLineChart" class="mb-5">
            <div class="card">
                <div class="card-body">
                    <h6>AKTİVİTE GRAFİĞİ</h6>
                    <div class="fs-13px">Aktiviteler haftada kaç kez yapılıyor.</div>

                    <div id="apexLineChart"></div>
                </div>

            </div>
        </div>
        <!-- END #chartJsLineChart -->
    </div>
    <!-- END col-6 -->
</div>
<!-- END row -->
<!-- BEGIN row -->
<div class="row">
    <!-- BEGIN col-6 -->
    <div class="col-xl-6">
        

    </div>
    <!-- END col-6 -->
    <!-- BEGIN col-6 -->
    <div class="col-xl-6">


    </div>
    <!-- END col-6 -->
</div>
<!-- END row -->


<div class="container">
    <!-- BEGIN row -->
    <div class="row justify-content-center">
        <!-- BEGIN col-10 -->
        <div class="col-xl-10">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-9 -->
                <div class="col-xl-9">



                </div>
                <!-- END col-9-->

            </div>
            <!-- END row -->
        </div>
        <!-- END col-10 -->
    </div>
    <!-- END row -->
</div>


<!-- script -->
@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script>var apexLineChartOptions = {
            chart: {
                height: 350,
                type: 'line',
                shadow: {
                    enabled: true,
                    color: COLOR_GRAY_500,
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 1
                },
                toolbar: {
                    show: false
                }
            },
            title: {
                text: 'Aktivitelere göre öğrenci sayıları',
                align: 'center'
            },
            colors: [COLOR_RED, COLOR_TEAL, COLOR_GRAY_500, COLOR_BLUE],
            dataLabels: {
                enabled: true,
            },
            stroke: {
                curve: 'smooth',
                width: 3
            },
            series: [{
                name: 'Uyku',
                data: [28, 29, 33, 36, 32, 32, 33]
            }, {
                name: 'Yemek',
                data: [19, 21, 21, 18, 23, 24, 27]
            }, {
                name: 'Yemek',
                data: [15, 15, 19, 19, 15, 19, 18]
            }, {
                name: 'Tenis',
                data: [16, 16, 14, 20, 12, 17, 15]
            }],
            grid: {
                borderColor: COLOR_GRAY_200,
                row: {
                    colors: [COLOR_GRAY_200, 'transparent'],
                    opacity: 0.5
                },
            },
            markers: {
                size: 4
            },
            xaxis: {
                categories: ['01/03/2021', '08/03/2021', '15/03/2021', '22/03/2021', '29/03/2021', '05/04/2021', '12/04/2021'],
                axisBorder: {
                    show: true,
                    color: COLOR_GRAY_300,
                    height: 1,
                    width: '100%',
                    offsetX: 0,
                    offsetY: -1
                },
                axisTicks: {
                    show: true,
                    borderType: 'solid',
                    color: COLOR_GRAY_300,
                    height: 6,
                    offsetX: 0,
                    offsetY: 0
                }
            },
            yaxis: {
                min: 5,
                max: 40
            },
            legend: {
                show: true,
                position: 'top',
                offsetY: -10,
                horizontalAlign: 'right',
                floating: true
            }
        };
        var apexLineChart = new ApexCharts(
            document.querySelector('#apexLineChart'),
            apexLineChartOptions
        );
        apexLineChart.render();

      

        var ctx5 = document.getElementById('pieChart');
        var pieChart = new Chart(ctx5, {
            type: 'pie',
            
            data: {
                labels: ['0', '1-2', '3-4','+4'],
                datasets: [{
                    data: [3, 50, 100, 200],
                    backgroundColor: [COLOR_BLUE, COLOR_AQUA, COLOR_TEAL, COLOR_GRAY_500],
                    hoverBackgroundColor: [COLOR_BLUE, COLOR_AQUA, COLOR_TEAL, COLOR_GRAY_500],
                    borderWidth: 0
                }]
            }
        });</script>
}