@model FF.Web.Models.Activity.MealActivityModel
@{
    ViewData["Title"] = "Yemek Aktivitesi";
}

@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
}


@if (Model != null)
{
    <form asp-controller="Activity" asp-action="MealActivity" method="post">
        @for (var i = 0; i < Model.Students.Count; i++)
        {
            <input type="hidden" asp-for="Activities[i].StudentId" value="@Model.Students[i].Id" />
            <div>
                <input type="radio" asp-for="Activities[i].MealAmount" value="@Model.MealAmounts[0]" />
                <label>A</label>
            </div>
            <div>
                <input type="radio" asp-for="Activities[i].MealAmount" value="@Model.MealAmounts[1]" />
                <label>B</label>
            </div>
            <div>
                <input type="radio" asp-for="Activities[i].MealAmount" value="@Model.MealAmounts[2]" />
                <label>C</label>
            </div>
        }
        <button type="submit" value="Submit" class="btn btn-primary" />

    </form>
}
else
{
    <p>Öğrenci bulunamadı !!!</p>
}
