@model FF.Web.Models.Activity.GetMealActivityModel
@{
    ViewData["Title"] = "Yemek Aktivitesi";
}

@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
}


@if (Model.Students != null)
{

    @using (Html.BeginForm("MealActivity", "Activity", FormMethod.Post))
    {
        @for (var i = 0; i < 1; i++)
        {
            <table class="table">
                <tr>
                    <td>@Model.Students[i].Id</td>
                </tr>

                <tr>
                    <td>
                        @for (var j = 0; j < 3; j++)
                        {
                            <label class="btn btn-outline-success">
                                <input type="radio" name="@Model.Students[i].Id" id="option1" autocomplete="off" value=@Model.MealAmounts[j]>
                            </label>
                        }
                    </td>
                </tr>
            </table>
        }
        <input type="submit" value="Submit" class="btn btn-primary" />

    }
}
else
{
    <p>Öğrenci bulunamadı !!!</p>
}